/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21-Nov-2016, 21:18:44
    Author     : 1609963
*/

.step {
    width: 300px;
    margin: 10px;
    
}

input[type=radio] + label {
    display:inline-block;
    width: 32px;
    height: 32px;
}

figure  {
    border:1px solid lightgrey;
    float: right;
    text-align: left;
    padding: 10px;
	width: 40%;
	height: 50%;
	background-color: white;
}

#method { 
/* ol */

    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    counter-reset: item;
    list-style: none;
}

#method li {
    flex-grow: 1;
    flex-basis: 0;
    list-style-position:inside;
    margin: 20px;
    min-width: 200px;
    max-width: 200px;
}

#method li:before {
    content: counter(item) "  ";
    counter-increment: item;
    color: #003300;
    font-family: Roboto;
    font-weight: bold;
}


#main_ol {
	margin: 15px 0;
	padding-left:40px;
	line-height: 150%;
	list-style-position: inside;
}

#main_ol li a:hover, .hover a:hover {
    color: pink;
}
